services:
  rezept:
    build:
      dockerfile: Dockerfile
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rezept.rule=Host(`rezept.marcom.one`)"
    networks:
      - pangolin
    ports:
      - 85:80
    restart: unless-stopped

networks:
  pangolin:
    external: true